@import url('https://fonts.googleapis.com/css?family=Poppins');
    
/* Google Font */
body {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 2em;
}




/******************************
  Color Palette  
  * Primary : #6d6e71 
  * Secondary : #000 or #fff 
  * Highlight: #a10022
******************************/

/******************************
  Global
******************************/
/* Border Box Sizing */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


/******************************
  Headers
******************************/
/* Headers */
h1 {
	font-size: 3em; /* 48px / 16px = 3em */
	text-align: center;
	

}

h2 {
	color: #a10022;
	font-size: 1.85em; /* 30px / 16px = 1.85em */
	text-align: center;
}

h3 {
   font-size: 1.5em; /* 24px / 16px = 1.5em */
}


/******************************
  Lists
******************************/
li {
	line-height: 1.5em;
    list-style: none;
}

/******************************
  Links
******************************/
/* Links */
a:link, 
a:visited {
	color: #2db5a0;
	border-bottom: 2px solid #a10022;
	text-decoration: none;
}

a:focus {
  background: #a10022;  
  color: #000;
}

a:hover, 
a:active {
	color: #2db5a0;
	border-bottom: 4px double #6d6e71;
}

/******************************
  Images
******************************/
img {
  
  max-width: 400px; 
  
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}


/******************************
   Main Navigation
******************************/
nav ul {
  display: flex;
    justify-content: center;
  /* Experiment with `justify-content` */
}

nav ul {
  margin: 0;
  padding: 0;
}

nav li {
  list-style: none;
}

nav a:link, 
nav a:visited {
  color: #000;
  display: block;
  padding: .5em;
  margin: .5em;
  text-decoration: none;
  
  /* Override Text Links */
  border-bottom: none;
}

nav a:hover,
nav a:active {
  color: #fff;
  background: #2db5a0;
  border-radius: 2.5px;
  transition: 
    background .5s,
    border-radius 1s;
}

/******************************
   Form
******************************/
label, 
input,
textarea {
  display: block;
  margin: .25em;
  padding: .25em;
  width: 100%;
}

textarea {
  height: 5em;
}

input[type="submit"] {
  background: #b0b1b2;
  border-radius: 5px;
  width: 100;
  padding: 1em;
  border: none;
}

input[type="submit"]:hover {
  background: #2db5a0;
  color: #fff;
}

:focus {
  background: rgba(45, 181, 160, 0.04);
}

/******************************
  Social Media
******************************/
/*
/.social ul {
  display: flex;
  list-style: none;
}

.social a {
  background: yellow;
  display: block;
  height: 72px;
  margin: 1em;
  width: 72px;
  
*/
  /* Hide Text    */
/*
  text-indent: -999em;
}

.social li:nth-child(1) a {
  background: url("img/1487637844_facebook.png") no-repeat;
}

.social li:nth-child(2) a {
  background: url("https://ac1f21d35b6f4eda97798830389c2932.production.codepen.plumbing/img/icons/facebook.jpg") no-repeat;
}
*/

.social ul {
  display: flex;
  list-style: none;
  justify-content: flex-start;
}

.social img {
    box-shadow: none;
    height: 72px;
    display: block;
    margin: 1em;
    width: 72px;
}



/******************************
   Rows & Columns
******************************/
/* Layout */
main {
  margin: 0 auto;
  width: 95%;
}

/* Rows */
.row {
 margin: 10px 0;
}

/* Columns */
.col {
  background: rgba(255,255,255,.65);
  margin: 50px;
  padding: 10px;
}

/* Flexbox Styling */
.row {
 display: flex;
 flex-flow: row wrap;
}

.col {
  /*  `flex-basis` value is arbitrary  */
  flex: 1 12em;
  margin: 10px;
}

/* About Me */

.bio img {
    margin-right: 20px;
    
}
.bio {
    display: flex; 
    margin: 1em;

}


/* Media Queries */
/* Mobile */

@media (min-width: 20em) {
    
    
    .bio {
        display: block;
        margin: 50px;
    }
    .bio img {
        display: block;
        margin: 0 auto 50px auto; 
        min-width: 250px;
    }
   
}

/* Tablet */
@media (min-width: 48em) {
    
    .bio {
        margin: 25px;
    }
    .bio, 
    .bio img {
        display: flex; 
        margin-right: 20px;
        min-width: auto;
    }
    
    .col {
        margin: 25px;
    }
    
}

/* Desktop */
@media (min-width: 80em) {
    
    .bio {
        margin: 50px;
    }
    .bio, 
    .bio img {
        display: flex; 

    }
    
    .col {
        margin: 50px;
    }

}
