@import url('https://fonts.googleapis.com/css?family=Poppins');
    
/* Google Font */
body {
    font-family: 'Poppins', sans-serif;
     
}

h1 {
    font-size: 2em;
}


/*
Color Palette
    1 - #c9596b
    2 - #243745
    3 - #6b8048
    4 - #65a69e
    5 - #eab721
*/

/******************************
  Global
******************************/
/* Border Box Sizing */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


/******************************
  Headers
******************************/
/* Headers */
h1 {
	font-size: 3em; /* 48px / 16px = 3em */
	text-align: center;
	

}

h2 {
	color: #c9596b;
	font-size: 1.85em; /* 30px / 16px = 1.85em */
	text-align: center;
    margin-bottom: 75px;
    
}

h3 {
   font-size: 1.5em; /* 24px / 16px = 1.5em */
}


/******************************
  Lists
******************************/
li {
	line-height: 1.5em;
    list-style: none;
}

/******************************
  Links
******************************/
/* Links */
a:link, 
a:visited {
	color: #c9596b;
	text-decoration: none;
}

a:focus {
  background: #eab721;  
  color: #c9596b;
}

a:hover, 
a:active {
	color: #eab721;
	border-bottom: 4px double #6d6e71;
}

/******************************
  Images
******************************/
img {
  
   
  
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}



/******************************
   Main Navigation
******************************/
nav ul {
  display: flex;
    justify-content: center;
  /* Experiment with `justify-content` */
}

nav ul {
  margin: 0;
  padding: 0;
}

nav li {
  list-style: none;
}

nav a:link, 
nav a:visited {
  color: #000;
  display: block;
  padding: .5em;
  margin: .5em;
  text-decoration: none;
  
  /* Override Text Links */
  border-bottom: none;
}

nav a:hover,
nav a:active {
  color: #fff;
  background: #65a69e;
  border-radius: 2.5px;
  transition: 
    background .5s,
    border-radius 1s;
}


/******************************
   Form
******************************/
label, 
input,
textarea {
  display: block;
  margin: .25em;
  padding: .25em;
  width: 100%;
}

textarea {
  height: 5em;
}

input[type="submit"] {
  background: #c9596b;
  border-radius: 5px;
  width: 100;
  padding: 1em;
  border: none;
  color: #fff;
}

input[type="submit"]:hover {
  background: #eab721;
  color: #fff;
}

:focus {
  
}

/* Contact */

.social ul {
  display: flex;
  list-style: none;
  justify-content: flex-start;
}

.social img {
    box-shadow: none;
    height: 72px;
    display: block;
    margin: 1em;
    width: 72px;
}



/******************************
   Rows & Columns
******************************/
/* Layout */
main {
  margin: 0 auto;
  width: 95%;
}

/* Rows */
.row {
 margin: 10px 0;
}

/* Columns */
.col {
  background: rgba(255,255,255,.65);
  margin: 50px;
  padding: 10px;
}

/* Flexbox Styling */
.row {
 display: flex;
 flex-flow: row wrap;
}

.col {
  /*  `flex-basis` value is arbitrary  */
  flex: 1 12em;
  margin: 10px;
}

/* About Me */

.bio img {
    margin-right: 20px;
    max-width: 400px;
    
}
.bio {
    display: flex; 
    margin: 1em;

}

/* Home */

body {
    margin: 0;
    padding: 0;
    
}
#cover {
    position: relative;
    width: 100%;
    object-fit: cover;
    max-width: none;
    box-shadow: none;

}


/* Arrows */
    







/*Portfolio */


.portfolio {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;

}

main img {
    display: flex;
    box-shadow: none; 
    max-width: 400px;

    
}

figure {
  /*  `flex-basis` value is arbitrary  */
  flex: 1 200px;
}


/* Lightbox Overlay */
/* hide  */
.overlay {
  display: none;
  
/* Overlay Styling   */
  background:rgba(0,0,0,.75);
  width:100%;
  height:100%;
  position:absolute;
  top:0;
  left:0;

  
}

/* show */
.overlay:target {
  display: block;
 
  /* Flexbox Vertical & Horizontal Centering */
  display: flex;
  flex-direction: column;
  min-height: 50vh;
  justify-content: center;
  align-items: center;
    
}

.overlay img {
    min-width: 50vh;
    min-height: 5vh;
}

/* Close Button  */
.overlay a {
  color: #fff;
  text-decoration: none;
    margin-top: 10px;
  font-size: 1em;
}



/* Footer */


.main-footer img, 
.main-footer a:active, 
.main-footer a:hover {
    box-shadow: none;
    height: 45px;
    margin: 0 5px 0 5px;
    width: 45px;
    border-bottom: none;

    
}

.main-footer {
    text-align: center;
    font-size: 75%;
   
   
}


/* Sticky Footer */

   .wrap {
    min-height: calc(100vh - 111.16px);
    margin-bottom: 50px;
}


/* Media Queries */
/* Mobile */
@media only screen 
  and (min-width: 20em) 
  and (max-width: 47.9375em)  { 

    .bio {
        display: block;
        margin: 50px;
    }
    .bio img {
        display: block;
        margin: 0 auto 50px auto; 
        min-width: 250px;
    }
    
    
 

   
}

/* Tablet */
@media only screen and (min-width: 48em)
and (max-width: 63.9375em){
    
    .bio {
        margin: 25px;
    }
    .bio, 
    .bio img {
        display: flex; 
        margin-right: 25px;
        min-width: auto;
    }
    
    .col {
        margin: 25px;
    }
    
}

/* Desktop */
@media (min-width: 64em) {
    
    .bio {
        margin: 50px;
    }
    .bio, 
    .bio img {
        display: flex; 

    }
    
    .col {
        margin: 50px;
    }

}

